h2 {
    color: rgb(37, 151, 252);

}

image1 {
    width: 900px;
    height: 600px;
}

.img {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    justify-content: center;
    text-align: center;
}

.sp1 {
    color: rgb(13, 122, 217);
}

.p1 {
    color: gray;
}
.div{
    justify-content: space-between;
}

/* div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img1{
    width: 50%;
} */